[Unit]
Description=IMPSY RPi Module Startup Script
After=multi-user.target

[Service]
ExecStart=/bin/bash /home/pi/imps/examples/rpi/start.sh
WorkingDirectory=/home/pi/imps
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
